<!DOCTYPE html>
<html>
<head>
    <title>Medisant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="version" content="1.0.0">
    <meta name="version-name" content="Defaulters me hai hum!">
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/main.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{
            background: #2196F3;
            max-height: 100vh;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <main class="center" style="margin-top: 10%">
        <i class="material-icons white-text large">error</i>
        <h2 class="white-text">Oops!</h2>
        <h4 class="white-text">The Page you are looking for does not Exist :(</h4>
    </main>
    </body>
</html>