<!DOCTYPE html>
<html>
	<head>


        <title>MediSant</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Product+Sans" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    	
		<link href='/css/materialize.css' rel='stylesheet' media="All"/>
        <link href='/css/main.css' rel="stylesheet" />
	</head>
	<body>
	<!--Desktop-->
	<nav class="blue">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile" class="sidenav-trigger show large"><i class="material-icons">menu</i></a>
            <a href="/home" class="brand-logo white-text center">MediSant</a>
        </div>
	</nav>
	<!--Mobile-->
    <ul class="sidenav" id="mobile">
        <li><div class="user-view">
                <div class="background">
                    <img src="/img/user-profile-bg.jpg">
                </div>
                <a href="#user"><img class="circle" src="<%- req.session.imageUrl %>"></a>
                <a href="#name"><span class="white-text name"><%= req.session.user.name %></span></a>
                <a href="#email"><span class="white-text email"><%= req.session.user.email %></span></a>
            </div></li>
        <li><a href="/doctor/new"><i class="material-icons">person_add</i>New Patient</a></li>
        <li><a href="/doctor/patientList"><i class="material-icons">supervised_user_circle</i>Patient List</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Personal</a></li>
        <li><a href="/doctor/profile/<%- req.session.user.uid%>"><i class="material-icons">account_circle</i>Profile</a></li>
        <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>

    </ul>